@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    overflow-x: hidden  !important;
}
input:focus {
    border:1px solid #45C165 !important;
    transition: unset !important;
  }